# SLR Aura – Access Transformers

# Allow setting the glow shared-flag on Entity client-side for the vessel outline
public net.minecraft.world.entity.Entity setSharedFlag(IZ)V

# Allow updating entity outline thickness from config
public net.minecraft.client.renderer.LevelRenderer entityEffect
